<div class="container">
	<div class="jumbotron">
		<p class="text-center">
			<span style="font-size: larger;">Login</span>
		</p>
		<form id="submitLoginForm" method="post" action="/account/login">
			<p><input id="loginEmail" class="form-control" name="email" type="email" placeholder="Email Address" required autofocus/></p>
			<p><input id="loginPassword" class="form-control" name="password" type="password" placeholder="Password" required /></p>
			<p><div id="loginMessage" class="text-center text-warning"></div></p>
			<p><button class="form-control btn btn-primary" type="submit">Login</button></p>
		</form>
		<p class="text-center">
			<a href="/account/resetPassword">Forgot Password?</a> | <a href="/account/register">New to <%= appTitle %>?</a>
		</p>
	</div>
</div>
