<div class="container">
	<div class="jumbotron">
		<h2>Reset Password: Confirm Email Address</h2><hr>
		<form id="resetPasswordForm" method="POST" action="/account/resetPassword">
			<p><input class="form-control" name="email" type="email" placeholder="Email Address" required/></p>
			<p><button class="form-control btn btn-primary" type="submit">Reset Password</button></p>
		</form>
	</div>
</div>
