<div class="modal fade" id="test-response-modal" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title text-center"><%= testUrl %></h3><hr>
				<p>POST Data:<br>
					<pre><%- method.postData || '{}' %></pre>
				</p>
			</div>
			<div class="modal-body" id="testResponseContainer">
				<p>Response:<br>
					<pre id="testResponse"></pre>
				</p>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>
