<div class="container">
	<div class="jumbotron">
		<h2>API List</h2><hr>

		<div class="btn-group" role="group" style="margin-bottom: 10px;">
			<button type="button" class="btn-info btn-sm" data-keyboard="true" data-toggle="modal" data-target="#create-api-modal">Create New API</button>
		</div>

		<% if (apiList.length > 0) { %>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<!-- <th>Select</th> -->
						<th>Name</th>
						<!-- <th>Active</th>
						<th>Methods</th> -->
					</tr>
				</thead>
				<tbody>
					<% for(var i = 0; i < apiList.length; i++) { %>
						<tr data-action="/api/edit" data-id="<%= apiList[i].id %>">
							<!-- <th scope="row"><input type="checkbox"/></th> -->
							<th scope="row"><%= apiList[i].name %></td>
							<!-- <td><%= apiList[i].active %></td> -->
							<!-- <td>[]</td> -->
						</tr>
					<% } %>
				</tbody>
			</table>
		<% } else { %>
			<hr>You don't have any APIs, try creating one. Just click the [Create New API] button above.
		<% } %>
	</div>
</div>
<% include create_modal %>
