<div class="container">
	<div class="jumbotron">
		<h2>Delete Account: Confirm Email Address and Password</h2><hr>
		<form id="deleteAccountForm" method="POST" action="/account/deleteAccount">
			<p><input class="form-control" name="email" type="email" placeholder="Email Address" required/></p>
			<p><input class="form-control" name="password" type="password" placeholder="Password" required/></p>
			<p><button class="form-control btn btn-primary" type="submit">Delete Account</button></p>
		</form>
	</div>
</div>
